{% load static %} 
{% include "header.html" %}
{% include "navigation.html" with main_path='/main/' %}

<br/>
<br/>

<div class="container">
  <div class="dashboard">
    <div class="span8 offset2">
    
      <h1>Account creation</h1>
      <hr>

      {% if data.status == "wrong_invite" %}   
      <div class='centerbox-error'>
          Sorry, this invitation code is not valid.
      </div>
      
      {% elif data.status == "already" %}
      <div class='centerbox'>
          You are already signed in, cannot create a new account.
      </div>

      {% elif data.status == "something_missing" %}
      <div class='centerbox'>
          Some input (email/password/invitation code) is missing.
      </div>

      {% elif data.status == "activated" %}
      <div class='centerbox-success'>
          Ok, account created!
      </div>
      <br />
      Your can access your Account and Dashboard pages by clicking on the menu icon in the upper right corner. Please note that we do not verify emails at this stage. You signed up with the following email address: {{data.user.email}}.   
      {% else %}
      <p><b>Welcome to WebApp!</b></p>
      
      <p>The project is now in closed beta testing, so we can unfortunately accept invite-based only new users. If you have an invitation code you can sign up right now.</p>
      <br/>
      <br/>
      
      <div class='centerbox'><center>
          <form class="form-signin" role="form" action='/register/' method='POST'>
          {% csrf_token %}
          <input type="email" class="form-control" placeholder="Email" name='email' required autofocus>
          <input type="password" class="form-control" placeholder="Password" name='password' required>
          <input type="text" class="form-control" placeholder="Invitation code" name='invitation' required autofocus>
          <input type='submit' class="btn btn-lg ha-btn-lg" value='Sign up' />
          </form></center>
      </div>
      <br /></br>
      {% endif %}

      
      {% if data.error %}   
      <div class='centerbox-error'>
          {{ data.error }}
      </div>
      {% endif %}

      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      
    </div>
  </div>
</div>

{% include "footer.html" %}




