



    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <br/>
            <br/>
            <br/>
            &nbsp; &nbsp;<font color="white">Menu</font>
            <li>
                <a href="/" onclick = $("#menu-close").click(); >Home</a>
            </li>
            {% if user.is_authenticated %}
            <li>
                <a href="/account" onclick = $("#menu-close").click(); >Account</a>
            </li>
            <li>
                <a href="/logout" onclick = $("#menu-close").click(); >Logout</a>
            </li>  
            {% else %}
            <li>
                <a href="/register" >Sign up</a>
            </li>
            <li>
            
              <br/>
              &nbsp; &nbsp;<font color="white">Login</font>
              <center>
              
                <form class="form-signin" role="form" action='/login/' method='POST'>
                {% csrf_token %}
                <input type="username" class="form-control" placeholder="Email" name='username' required autofocus>            
                <input type="password" class="form-control" placeholder="Password" name='password'>
                <input type='submit' class="btn btn-lg ha-btn-lg" value='Login' /><br/>
                </form>

                
                
              </center>         
            </li>
            <center>
            <div style="padding:10px">
            <!--  <a href="/register" class="menulink">Register</a> <b>|</b>  -->
            <font color="gray">Forgot password? Just leave it empty to get a login link by email.</font>
            </div>
            </center>
            {% endif %}    
        </ul>
    </nav>
  






